<div class="content-row">
  <div class="content-col">
    <div class="card enter-wallet">
      <div class="card-header">
        <i class="ms-Icon ms-Icon--Work"></i>Wallet
      </div>
      <div class="card-content">
        <input type="text" placeholder="Enter your wallet here" [(ngModel)]="walletAddress">
        <button type="button" (click)="getInfoWallet()">Look up</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="walletData">

  <div class="content-row stats_reward">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          <i class="ms-Icon ms-Icon--GroupedList"></i>Stats
        </div>
        <div class="card-content two-box">
          <div class="left-box">
            <div>
              <span class="title">Current hashRate</span>
              <span *ngIf="walletData['overview']['current_hashrate'] === null">Stand by…</span>
              <span *ngIf="walletData['overview']['current_hashrate'] !== null">{{walletData['overview']['current_hashrate'] | hashPowerConverter : 'speed'}}</span>
            </div>
            <div>
              <span class="title">Daily average</span>
              <span class="value">-</span>
            </div>
            <div>
              <span class="title">Weekly average</span>
              <span class="value">-</span>
            </div>
          </div>
          <div class="right-box">
            <div>
              <span class="title">Monthly average</span>
              <span class="value">-</span>
            </div>
            <div>
              <span class="title">Total Shares</span>
              <span class="value">{{walletData['overview']['total_shares'] | hashPowerConverter}}</span>
            </div>
            <div>
              <span class="title">Block found</span>
              <span class="value">-</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-col">
      <div class="card">
        <div class="card-header">
          <i class="ms-Icon ms-Icon--Ribbon"></i>Reward
        </div>
        <div class="card-content two-box">
          <div class="left-box">
            <div>
              <span class="title">Total Paid</span>
              <span class="value">{{walletData['overview']['total_payments'] | number : '1.2-2'}} BBR</span>
            </div>
            <div>
              <span class="title">Unconfirmed Balance</span>
              <span class="value">{{walletData['overview']['unconfirmed_balance'] | number : '1.2-2'}} BBR</span>
            </div>
            <div>
              <span class="title">Confirmed Balance</span>
              <span class="value">{{walletData['overview']['confirmed_balance'] | number : '1.2-2'}} BBR</span>
            </div>
          </div>
          <div class="right-box">
            <div>
              <span class="title">24h Payments</span>
              <span class="value">{{walletData['overview']['h24_payments'] | number : '1.2-2'}} BBR</span>
            </div>
            <div>
              <span class="title">Payment Threshold</span>
              <span class="value">{{walletData['overview']['payout_threshold'] | number : '1.2-2'}} BBR</span>
            </div>
            <div>
              <span class="title"></span>
              <span class="value"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-row workers">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          <i class="ms-Icon ms-Icon--Processing"></i>Workers
        </div>
        <div class="card-content">
          <div class="wrap-table scrolled-content">
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>hashrate (10 min)</th>
                <th>hashrate (24h)</th>
                <th>Total</th>
                <th>Stale</th>
                <th>Invalid</th>
                <th>Blocks</th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let worker of workersList">
                <td>{{ worker.name }}</td>
                <td>{{ worker.hashrate | hashPowerConverter : 'speed' }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>Remove</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-row charts">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          <i class="ms-Icon ms-Icon--LineChart"></i>
          <ul class="tabs">
            <li class="tab" [class.active]="miningTabSelected === 'total'">
              <button type="button" (click)="setChart('total')">Hashrate</button>
            </li>
            <li class="tab" *ngFor="let worker of workersList" [class.active]="miningTabSelected === worker.name">
              <button type="button" (click)="setChart(worker.name)">"{{worker.name}}"</button>
            </li>
          </ul>
        </div>
        <div class="card-content">
          <div [chart]="chart"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-row">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          <i class="ms-Icon ms-Icon--Money"></i>Payments
        </div>
        <div class="card-content">
          <div class="wrap-table scrolled-content">
            <table class="account-table">
              <thead>
              <tr>
                <th>Time Send</th>
                <th>Transaction Hash</th>
                <th>Amount</th>
                <th>Mixin</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let payment of walletData['payments'] | slice:0:paymentsLimit">
                <td>{{payment[0] | date : 'dd.MM.yyyy, hh:mm:ss'}}</td>
                <td>
                  <a target="_blank" [href]="'https://explorer.boolberry.com/transaction/'+payment[1][3]">{{payment[1][3]}}</a>
                </td>
                <td>
                  {{payment[1][1]}}
                </td>
                <td>-</td>
              </tr>
              </tbody>
            </table>
            <button type="button" class="load-more" *ngIf="paymentsLimit < walletData['payments']?.length" (click)="paymentsLimit = paymentsLimit + 100">Load more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
