.content-row {
  margin-top: 4rem;
}

.tabs {
  margin: 0 -2rem;
  padding: 0;

  .tab {
    margin: 0 2rem;
  }
}

.enter-wallet {
  input {
    margin: 1rem 0;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
  }
}

.wrap-table {
  overflow-x: auto;
}

.wrap-overview-tables {
  display: flex;
  justify-content: space-between;
  @media (max-width: 575.98px) {
    flex-direction: column;
  }

  > table {
    width: 40%;

    tbody {
      tr {
        td {
          &:first-child {
            font-weight: 700;
          }

          &:last-child {
            font-weight: 500;
          }
        }
      }
    }

    @media (max-width: 575.98px) {
      width: 100%;
    }
  }
}

button.remove-worker {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #64DDE2;
  font-size: 1.4rem;
  border-bottom: 1px solid #64DDE2;
}
