<div class="content-row">
  <div class="content-col">
    <div class="card enter-wallet">
      <div class="card-header">
        Wallet
      </div>
      <div class="card-content">
        <input type="text" placeholder="Enter your wallet here" [(ngModel)]="walletAddress">
        <button type="button" (click)="getInfoWallet()">Look up</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="walletData">

  <div class="content-row">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          Overview
        </div>
        <div class="card-content">

          <div class="wrap-overview-tables">
            <table class="">
              <tbody>
              <tr>
                <td>Current HashRate</td>
                <td *ngIf="walletData['overview']['current_hashrate'] === null">Stand by…</td>
                <td *ngIf="walletData['overview']['current_hashrate'] !== null">{{walletData['overview']['current_hashrate'] | hashPowerConverter : 'speed'}}</td>
              </tr>
              <tr>
                <td>Daily average</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Weekly average</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Monthly average</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Total Shares</td>
                <td>{{walletData['overview']['total_shares'] | hashPowerConverter}}</td>
              </tr>
              <tr>
                <td>Blocks found</td>
                <td>-</td>
              </tr>
              </tbody>
            </table>

            <table>
              <tbody>
              <tr>
                <td>Total Paid</td>
                <td>{{walletData['overview']['total_payments'] | number : '1.2-2'}} BBR</td>
              </tr>
              <tr>
                <td>Unconfirmed Balance</td>
                <td>{{walletData['overview']['unconfirmed_balance'] | number : '1.2-2'}} BBR</td>
              </tr>
              <tr>
                <td>Confirmed Balance</td>
                <td>{{walletData['overview']['confirmed_balance'] | number : '1.2-2'}} BBR</td>
              </tr>
              <tr>
                <td>24 hours Payments</td>
                <td>{{walletData['overview']['h24_payments'] | number : '1.2-2'}} BBR</td>
              </tr>
              <tr>
                <td>Payment Threshold</td>
                <td>{{walletData['overview']['payout_threshold'] | number : '1.2-2'}} BBR</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="content-row">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          Workers
        </div>
        <div class="card-content">
          <div class="wrap-table scrolled-content">
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>hashrate (10 min)</th>
                <th>hashrate (24h)</th>
                <th>Shares</th>
                <th>Stale</th>
                <th>Invalid</th>
                <th>Blocks</th>
                <th>Remove</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let worker of workersList">
                <td>{{ worker.name }}</td>
                <td>{{ worker.amount | hashPowerConverter : 'speed' }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-row">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          <ul class="tabs">
            <li class="tab" [class.active]="miningTabSelected === 'total'">
              <button type="button" (click)="setChart('total')">Hashrate</button>
            </li>
            <li class="tab" *ngFor="let worker of workersList" [class.active]="miningTabSelected === worker.name">
              <button type="button" (click)="setChart(worker.name)">"{{worker.name}}"</button>
            </li>
          </ul>
        </div>
        <div class="card-content">
          <div [chart]="chart"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-row">
    <div class="content-col">
      <div class="card">
        <div class="card-header">
          Payments
        </div>
        <div class="card-content">
          <div class="wrap-table scrolled-content">
            <table>
              <thead>
              <tr>
                <th>Time</th>
                <th>Transaction Hash</th>
                <th>Amount</th>
                <th>Mixin</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let payment of walletData['payments']">
                <td>{{payment[0] | date : 'dd.MM.yyyy, hh:mm:ss'}}</td>
                <td>
                  <a target="_blank" [href]="'https://explorer.boolberry.com/transaction/'+payment[1][3]">{{payment[1][3]}}</a>
                </td>
                <td>
                  {{payment[1][1]}}
                </td>
                <td>-</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
