.content-row {
  margin-top: 4rem;

  @media (max-width: 991.98px) {
    flex-direction: column;

    .content-col:not(:first-child) {
      margin-top: 4rem;
    }
  }
  &.main_info {
    > .content-col {
      > .card {
        > .card-content {
          > .card-content-row {
            > span {
              font-weight: 500;
            }
          }
        }
        &.network-card {
          .card-content-row {
            > label {
              font-weight: 700;
            }
            span {
              max-width: 13rem;
            }
            a {
              color: #64dde2;
              width: 13rem;
              max-width: 13rem;
            }
          }
        }
        &.pool-card {
          .card-content-row {
            > label {
              font-weight: 700;
            }
            span {
              max-width: 13rem;
            }
          }
        }
        &.config-card {
          .card-content-row {
            > label {
              font-weight: 500;
            }
            span {
              color: #64dde2;
              max-width: 3rem;
            }
          }
        }
      }
    }
  }
}

.tabs {
  margin: 0 -2rem;
  padding: 0;

  .tab {
    margin: 0 2rem;
  }
}

.card-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  label {
    flex: 1 0 auto;
  }

  span, a {
    flex: 0 1 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}



.wrap-table {
  overflow-x: auto;
}


