<div class="content-row main_info">

  <div class="content-col">
    <div class="card network-card" *ngIf="network">
      <div class="card-header">
        <i class="ms-Icon ms-Icon--Globe"></i>Network
      </div>
      <div class="card-content">
        <div class="card-content-row">
          <label>Hashrate</label>
          <span>{{network['current_hasrate'] | hashPowerConverter : 'speed'}}</span>
        </div>
        <div class="card-content-row">
          <label>Block found</label>
          <span>{{network['last_block_found'] | timeAgo}}</span>
        </div>
        <div class="card-content-row">
          <label>Difficulty</label>
          <span>{{network['difficulty'] | hashPowerConverter}}</span>
        </div>
        <div class="card-content-row">
          <label>Block height</label>
          <span>{{network['height']}}</span>
        </div>
        <div class="card-content-row">
          <label>Last reward</label>
          <span>{{network['last_reward'] | number : '1.2-2' }} BBR</span>
        </div>
        <div class="card-content-row">
          <label>Last hash</label>
          <a target="_blank"
             [href]="'https://explorer.boolberry.com/block/'+network['last_hash']">{{network['last_hash']}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-col">
    <div class="card pool-card" *ngIf="pool">
      <div class="card-header">
        <i class="ms-Icon ms-Icon--PlugDisconnected"></i>Pool
      </div>
      <div class="card-content">
        <div class="card-content-row">
          <label>Hashrate</label>
          <span>{{pool['current_hashrate'] | hashPowerConverter : 'speed'}}</span>
        </div>
        <div class="card-content-row">
          <label>Block found</label>
          <span>{{pool['last_block_found'] | timeAgo}}</span>
        </div>
        <div class="card-content-row">
          <label>Connected miners</label>
          <span>{{pool['miner_count']}}</span>
        </div>
        <div class="card-content-row">
          <label>Round effort</label>
          <span>{{pool['current_effort']}}%</span>
        </div>
        <div class="card-content-row">
          <label>Total pool fee</label>
          <span>{{pool['fee']}}%</span>
        </div>
        <div class="card-content-row">
          <label>Block found every</label>
          <span>{{blockFoundEvery}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content-col">
    <div class="card info-card">
      <div class="card-header">
        <i class="ms-Icon ms-Icon--Info"></i>Info
      </div>
      <div class="card-content">
        <div class="card-content-row" *ngFor="let item of info | JsonToNgFor">
          <label>{{item.label}}</label>
          <a target="_blank" *ngIf="item.link_url && item.link_name" href="{{item.link_url}}">{{item.link_name}}</a>
          <span *ngIf="item.text">{{item.text}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-row charts">
  <div class="content-col">
    <div class="card">
      <div class="card-header">
        <i class="ms-Icon ms-Icon--LineChart"></i>
        <ul class="tabs">
          <li class="tab" [class.active]="activeChartTab === 'hashrate'">
            <button type="button" (click)="activeChartTab = 'hashrate'">Hashrate</button>
          </li>
          <li class="tab" [class.active]="activeChartTab === 'difficulty'">
            <button type="button" (click)="activeChartTab = 'difficulty'">Difficulty</button>
          </li>
          <li class="tab" [class.active]="activeChartTab === 'effort'">
            <button type="button" (click)="activeChartTab = 'effort'">Effort</button>
          </li>
        </ul>
      </div>
      <div class="card-content">
        <div [chart]="hashRateChart" *ngIf="activeChartTab === 'hashrate'"></div>
        <div [chart]="difficultyChart" *ngIf="activeChartTab === 'difficulty'"></div>
        <div [chart]="effortChart" *ngIf="activeChartTab === 'effort'"></div>
      </div>
    </div>
  </div>
</div>

<div class="content-row">
  <div class="content-col">
    <div class="card">
      <div class="card-header">
        <i class="ms-Icon ms-Icon--GridViewMedium"></i>
        <ul class="tabs">
          <li class="tab" [class.active]="activeTableTab === 'blocks'">
            <button type="button" (click)="activeTableTab = 'blocks'">Blocks</button>
          </li>
          <!--          <li class="tab" [class.active]="activeTableTab === 'payments'">-->
          <!--            <button type="button" (click)="activeTableTab = 'payments'">Payments</button>-->
          <!--          </li>-->
        </ul>
      </div>
      <div class="card-content">
        <div class="wrap-table scrolled-content" *ngIf="activeTableTab === 'blocks'">
          <table class="dashboard-table" *ngIf="blocks && blocks.length; else noBlocks">
            <thead>
            <tr>
              <th>Height</th>
              <th>Difficulty</th>
              <th>Block Hash</th>
              <th>Time Found</th>
              <th>Effort</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let block of blocks  | slice:0:blocksLimit">
              <td>{{block[0]['height']}}</td>
              <td>{{block[0]['difficulty'] | hashPowerConverter}}</td>
              <td>
                <a target="_blank"
                   [href]="'https://explorer.boolberry.com/block/'+block[0]['hash']">{{block[0]['hash']}}</a>
              </td>
              <td> {{block[0]['startTime'] | date : 'dd.MM.yyyy, hh:mm:ss'}}</td>
              <td>{{block[0]['effort']}}%</td>
            </tr>
            </tbody>
          </table>
          <ng-template #noBlocks>
            <div class="no-data">No data</div>
          </ng-template>
          <button type="button" class="load-more" *ngIf="blocksLimit < blocks?.length"
                  (click)="blocksLimit = blocksLimit + 100">Load more
          </button>
        </div>
        <div class="wrap-table scrolled-content" *ngIf="activeTableTab === 'payments'">
          <table>
            <thead>
            <tr>
              <th>Time Sent</th>
              <th>Transaction Hash</th>
              <th>Amount</th>
              <th>Fee</th>
              <th>Mixin</th>
              <th>Payees</th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
