<header>
  <div class="container">
    <div class="content-row">
      <div class="content-col logo" [routerLink]="['/']" >
        Mining Pool
      </div>

      <nav class="desktop-nav">
        <ul class="content-col tabs">
          <li class="tab" >
            <a [routerLink]="['/']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
          </li>
          <li class="tab" >
            <a [routerLink]="['/account']" routerLinkActive='active'>Account</a>
          </li>
          <li class="tab" >
            <a [routerLink]="['/stats']" routerLinkActive='active'>Stats</a>
          </li>
          <li class="tab" >
            <a [routerLink]="['/docs']" routerLinkActive='active'>Docs</a>
          </li>
        </ul>
      </nav>

      <div class="content-col get-alias">
        <button type="button">Get Alias</button>
      </div>
      <div class="content-col btn-mobile-nav">
        <button type="button" (click)="toggleMobileNav()" [ngClass]="{'show': navIsOpen === true }"></button>
      </div>
    </div>
  </div>
</header>

<nav class="mobile-nav" [ngClass]="{'show': navIsOpen === true }">
  <ul>
    <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
    <li><a [routerLink]="['/account']" routerLinkActive="active">Account</a></li>
    <li><a [routerLink]="['/stats']" routerLinkActive="active">Stats</a></li>
    <li><a [routerLink]="['/docs']" routerLinkActive="active">Docs</a></li>
    <li class="wrap-alias-btn"><button type="button">Get Alias</button></li>
  </ul>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
